body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(75, 0, 150);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(45, 0, 91);
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.fa-solid {
  cursor: pointer;
}

.input-text {
  background-color: rgb(240, 225, 255);
  outline: none;
  border: 0;
  font-size: 20px;
  width: 100%;
}

.wrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: rgb(240, 225, 255);
  box-sizing: border-box;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(45, 0, 91);
}

.head h1 {
  margin: 0;
  padding: 0;
}

.input-Div1 {
  display: flex;
  padding: 15px 10px;
  width: 100%;
  border-bottom: 1px solid rgb(45, 0, 91);
}

.input-Div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgb(45, 0, 91);
}

.input-enter {
  background-color: inherit;
  border: 0;
}

.input-enter:hover {
  cursor: pointer;
  color: blueviolet;
  size: 2;
}

.check {
  margin-right: 15px;
}

.clear-btn {
  width: 100%;
  outline: none;
  border: 0;
  background-color: inherit;
  padding: 15px 0;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.clear-btn:hover {
  color: rgb(240, 225, 255);
  background-color: rgb(75, 0, 150);
}

.error {
  color: red;
  font-style: italic;
}

.template-div {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(45, 0, 91);
}

